.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark {
    background-color: #474646;
    color: #f3f3ff;
} 


.navbar-name {
    background-color: #eeebff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #3730A3;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar-link-item {
    text-decoration: none;
    color: #474646;
    font-weight: 500;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.navbar-link-item:hover {
    border: 1px solid #3730A3;
    color: #3730A3;
    background: #f3f3ff;
}

/* Yumuşak kaydırma efekti */
html {
    scroll-behavior: smooth;
}

/* Mobil uyumlu düzenlemeler */
@media screen and (max-width: 768px) {
    .navbar {
        padding: 15px;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-name {
        width: 30px;
        height: 30px;
    }

    .navbar-links {
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
        width: 100%;
    }

    .navbar-link-item {
        padding: 8px 12px;
        width: 100%;
        text-align: left;
    }
}